.nav{
    @include flex(row,space-between,center,10px);
    padding: 20px;
    ul{
        list-style-type: none;
        @include flex(row,center,center,10px);
    }
    .nav-link{
        text-decoration: none;
        color: $main-color;
        transition: .3s;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        &:hover{
            background-color: $light-color;
            color: $dark-color;
            padding: 10px;
            border-radius: 10px;}
        }
    .nav-btn{
        background-color: $light-color;
        color: $dark-color;
        padding: 10px;
        border-radius: 10px;
        transition: .3s;
        border: 2px solid transparent;
        &:hover{
            background-color: transparent;
            border-color: $main-color;
            color: $main-color;
        }
    }
    background-color:#d8d8d8;
}

@media (max-width: 500px){
    .nav {
        @include flex(column,center,center,10px)
    }
    .nav ul{
        @include flex(column,center,center,10px)
    }

}
