.conteiner-ayuda{
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
}
.titulo-ayuda{
    text-align: left;
    padding: 0px; 
    height: 100%;
    width: 100%;  
    gap: 10px;
}

.contenido-ayuda {
    text-align: left;
    padding: 5px; 
    height: 100%;
    width: 100%;  
    gap: 10px
    ;
}
