.body-inicio{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(150deg, #6d348356,#58d68c3d);
    height: 100vh;
    @include flex(column,center,center,10px);
    .formulario-inicio{
    @include flex(column,center,center,10px);
    padding: 20px;
    background: white;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h1{
    text-align: center;
    border-bottom: 1px solid silver;
}
}
}
.formulario-inicio form{
    box-sizing: border-box;
}
form .username-inicio{
    position: relative;
    border-bottom: 2px solid #adadad;
}
.username-inicio input{
    width: 100%;
    padding: 0 Spx;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username-inicio label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translatey(-50%);
    font-size: 16px;
    pointer-events: none;
}
.username-inicio span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #242628;
    transition: .5s;
}
.username-inicio input:focus ~ span::before,
.username-inicio input:focus ~ span::before{
    width: 100%;
}
.recordar-inicio{
    margin: -spx 0 20px spx;
    color: blue;
    cursor: pointer;
}
.recordar-inicio:hover{
    text-decoration: underline;
}
input[type='submit']{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #242628;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}
input[type='submit']:hover{
    border-color: #242628;
    transition: .5s;   
}
.registrarse-inicio a{
    color: blue;
    text-decoration: none;
}
.registrarse-inicio a:hover{
    text-decoration: underline;
}